
body {
    background-image: url('img/pngtree-wall-rock-texture-grain-dark-gray-background-image_780289.jpg'); /* Remplacez 'pattern.png' par le chemin vers votre image de fond */
    background-repeat: repeat; /* Répéter l'image horizontalement et verticalement */
    background-attachment: fixed; /* Fixer le fond pour qu'il ne défile pas avec le contenu */
    color: white;
}



/* Styles pour les images du carrousel */
.image-container img {
    max-width: 100%;
    max-height: 100%;
    width: 90%;
    height: 500px;
    object-fit: cover;
    margin: 5% 0% 0% 5% ;
    object-position: center;
}

section {
    margin-bottom: 30px;
}
#commande {
    width: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    /* Couleur blanche (255, 255, 255) avec une opacité de 0.3 */
}
